@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Roboto', sans-serif;
  --color-red: hsl(4, 100%, 67%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-gray: hsl(0, 0%,58%);
  --color-white: hsl(0, 0%, 100%);
}

:root {
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;  
}